
    <div class="arriba">
        <input type="">
        <button class="new">Nuevo Empleado</button>
        <select name="" id="">
            <option value="0">estado de vacuna</option>
            <option value="1">fecha de vacunacion</option>
            <option value="2">tipo de vacuna</option>
        </select>
    </div>
    <br>
    <div class="abajo">
        <table>
            <tr>
                <th>Empleado</th>
                <th>Cedula</th>
                <th>Correo</th>
                <th>select</th>
                <th class="buton"></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <div>
                <button class="a">editar</button>
                <button class="a">borrar</button>
                </div>
            </tr>
        </table>
    </div>